<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/public/_js/script.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/public/_css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="ctrl">
    {{usuario}}
    <div class="container"><br><br>
      <div class="jumbotron">
        <h1>Login</h1><br>
        <input type="text" class="form-control" placeholder="Usuario" ng-model="usuario.nome"><br>
        <input type="password" class="form-control" placeholder="Senha" ng-model="usuario.senha"><br>
        <div class="text-center">
          <button type="button" class="btn btn-primary">Entrar</button>
        </div>
      </div>

  </body>
</html>
